html{
    background-color: darkred;
}

body {
    background-color: white;
    margin-right: 25%;
    margin-left: 25%;
    padding: 1em;
    border: 2px solid black;
}

#mainNav{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2px 2px 2px 2px;
}

.navButtons{
    margin: 1px;
}
 
 h2{font-family: Verdana;
    font-size: medium;
    margin-top: 30px;
    color: gray;}
 
 p{font-family: Verdana;
   font-size: small;
   color: Gray;
   text-align: left;}
 
 hr{border: 0;
    border-top: 2px solid black;
    height: 2px;}

h1 {
    font-size: large;
    color: black;
}   
