/*body {
    background-image: url(Images/Dark.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}*/ 


content {
    background-image: url(Images/Dark.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;


}

 
 table {width: 100%;
        border: solid;
        border-color: gray;
        padding: 5px;}
 
 h2{font-family: Verdana;
    font-size: medium;
    margin-top: 30px;
    color: gray;}
 
 p{font-family: Verdana;
   font-size: small;
   color: Gray;
   text-align: left;}
 
 hr{border: 0;
    border-top: 2px solid black;
    height: 2px;}

h1 {
    font-size: large;
    color: black;
}   
